.Input {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 15px;
}

.Label {
    font-family: Oxygen, sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
}

.InputElement {
    height: 2.1em;
    border-radius: 3px;
    border: 1px solid #40a4c8;
    transition: border 0.4s ease-out;
    padding: 13px;
    font-family: Oxygen, sans-serif;
    font-size: 19px;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
}

.InputElement:hover {
    border: 2px solid #40a4c8;
}

.InputElement:focus {
    border: 2px solid #40a4c8;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.InputElement::placeholder {
    font-family: Oxygen, sans-serif;
    font-size: 16px;
    color: rgba(15, 15, 15, 0.4);
}

.Error {
    color: tomato;
    font-size: 14px;
}